<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Post a message!</title>
    </head>
    <body>
        <form method="POST" action="/new">
            
        </form>
    </body>
</html>