<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Message Board</title>
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <h1>Message Board</h1>
        <p>Hi</p>
        <%- include("messages", { messages: messages }) %>
    </body>
</html>