<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Message Board Message</title>
    </head>
    <body>
        <h1 class="message-user"><%= user %>:</h1>
        <p class="message-text"><%= text %></p>
        <p class="message-date"><%= added %></p>
    </body>
</html>