<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Message Board Message</title>
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <h1 class="message-username"><%= username %>:</h1>
        <p class="message-text"><%= text %></p>
        <p class="message-date"><%= added %></p>
    </body>
</html>